<div class="container mem">

	<div class="col" @slideIn>
		<h1>
			<span class="color_5">T</span><span class="color_1">h</span><span class="color_3">e</span> <span class="color_4">H</span><span class="color_6">i</span><span class="color_3">e</span><span class="color_4">r</span><span class="color_1">o</span><span class="color_2">p</span><span class="color_4">h</span><span class="color_1">a</span><span class="color_6">n</span><span class="color_5">t</span> 
		</h1>>
		
	</div>

	<div class="col_1" @rushIn>
		<p>
			<span class="color_2">I'm a programmer</span> <span class="color_3">that has a strong passion for</span> <span class="color_1">coding.  I have experience with and</span> <span class="color_5">a great understanding of Object-oriented</span>  <span class="color_4">programming, RESTful programming, Model-View-Controller,</span> <span class="color_6">UI/UX Design, Databases and I</span> <span class="color_3">can even bake a great pie</span> <span class="color_3">that splices its whole to go</span> <span class="color_1">piece</span> <span class="color_6">by</span> <span class="color_2">piece.</span>
		</p>

		<p>
			<span class="color_5">To be honest though I'm a</span> <span class="color_1">huge outdoors enthusiast that dreams and</span> <span class="color_6">plans to build a cabin in</span> <span class="color_4">the middle of the mountains.  I</span> <span class="color_2">grew up in a musical enviroment</span> <span class="color_3">(even studied music) but have discovered</span> <span class="color_6">a new and improved passion that</span> <span class="color_5">fits my personality and lifestyle in</span> <span class="color_4">many more ways.  That lucky lady</span> <span class="color_1">is coding.  I just enjoy the</span> <span class="color_6">logic it thrives on, the bits</span> <span class="color_5">and pieces that seem to fall</span> <span class="color_2">into place as other parts of</span> <span class="color_1">the</span> <span class="color_5">puzzle</span> <span class="color_4">emerge.</span>
		</p>
	</div>

	<div class="col_2" @flyIn>
		<p>
			<span class="color_4">THERE</span> <span class="color_6">IS</span> <span class="color_1">NO</span> <span class="color_5">BEAUTY</span> <span class="color_6">WITHOUT</span> <span class="color_1">SOME</span> <span class="color_3">STRANGENESS</span>
			<br>
			<span class="color_2">- Edgar Allan Poe</span>
		</p>
	</div>
	

</div>











