.shin {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	color: #ff0000;
	font-size: 6em;
}

.col {
	cursor: pointer;
}

.kether  {
	font-size: .17em;
	color: orange;
	
}

 li {
 	display: block;
}