<div class="container shin" @animateMe>
	<div class="col">
		<p class="mem" [@conStruct]="state" (click)="toggleState()">Under Construction...</p>

		<ul class="kether" [@conStruct]="state" (click)="toggleState()">
			<li><span>A</span></li>
			<li><span>A B</span></li>
			<li><span>A B R</span></li>
			<li><span>A B R A</span></li>
			<li><span>A B R A H</span></li>
			<li><span>A B R A H A</span></li>
			<li><span>A B R A H A D</span></li>
			<li><span>A B R A H A D A</span></li>
			<li><span>A B R A H A D A B</span></li>
			<li><span>A B R A H A D A B R</span></li>
			<li><span>A B R A H A D A B R A</span></li>		
		</ul>
	</div>
</div>





